# Bu dosya, Python dışı dosyaların pakete dahil edilmesini garanti eder.
# src/azuraforge_weatherapp klasörü içindeki tüm .json ve .yml dosyalarını dahil et.
recursive-include src/azuraforge_weatherapp *.json *.yml
graft src/azuraforge_weatherapp/config